@tailwind base;
@tailwind components;
@tailwind utilities;

.cell-animation {
  animation: revealCharCell linear;
  animation-duration: 0.15s;
}

@keyframes revealCharCell {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.alert {
  position: absolute;
  top: 25vh !important;
  left: 0;
  width: 100vw;
}

.alert div {
  width: 90vw !important;
  max-width: 350px;
  margin: 0 auto;
}
